body {
	margin: 0;
}

.weekdays {
	display: flex;
}

.weekday-item {
	width: 100%;
	background: green;
	text-align: center;
	color: white;
}

.days {
	display: flex;
    flex-wrap: wrap;
}

.day {
	background: #0f0;
    width: 14.285714%;
    height: 100px;
    border: 1px solid;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
}

.empty {
	width: 14.285714%;
    height: 100px;
}

.today {
	background: red;
}

.popup {
	width: 400px;
	height: 200px;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	margin: auto;
	background: yellow;
	display: none;
	text-align: center;
	font-size: 40px;
}

.tasks {
	border: 2px solid red;
}