body {
	margin: 0;
	font-family: Arial;
	text-align: center;
	background-size: cover;
	background-position-y: 50%;
}

.weather {
	margin-top: 50px;
	background: white;
}

.weather-temp {
	font-size: 50px;
}

.weather-icon {
    margin-top: 10px;
}