<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>

<div class="container">
	<div class="app__header">
		<div class="app__button-back"></div>
		<div class="app__caption">New Account</div>
	</div>
	<div class="app__sign-up">
		<div class="app__sign-up-caption">Sign Up</div>
	</div>
	<div class="app__bottom">
		<form action="" method="POST" class="form margin-common">
			<div class="form__row">
				<div class="form__caption">Name</div>
				<input type="text" class="form__input">
			</div>
			<div class="form__row">
				<div class="form__caption">Email</div>
				<input type="text" class="form__input">
			</div>
			<div class="form__row">
				<div class="form__caption">Password</div>
				<input type="password" class="form__input">
			</div>
			<div class="form__row">
				<div class="form__caption">Phone</div>
				<input type="text" class="form__input">
			</div>
			<div class="form__bottom form__bottom--large form__bottom--height">
				<div class="form__button">Next Step</div>
				<div class="form__button"></div>
				<div class="form__steps">1 of 3</div>
			</div>
		</form>
	</div>
</div>

<script src="js/script.js"></script>
</body>
</html>